# Every PR gets a review from an internal Ieatta engineer
* @Ieatta/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Ieatta/design @Ieatta/pullerbear
assets/ @Ieatta/design @Ieatta/pullerbear
