<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229321919225-bvhcakm216dta1p0tb1fb5m4cp8pqse5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229321919225-bvhcakm216dta1p0tb1fb5m4cp8pqse5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229321919225-5kuhq3vq7og1pakg52ata091b0uiu3tt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBv5E6l1pVQRCI6rLZJlVyHaBvKoLzBMuU</string>
	<key>GCM_SENDER_ID</key>
	<string>229321919225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ieatta.track</string>
	<key>PROJECT_ID</key>
	<string>new-ieatta</string>
	<key>STORAGE_BUCKET</key>
	<string>new-ieatta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229321919225:ios:3d0079fdd97ee52b9f3028</string>
</dict>
</plist>